apiVersion: apps/v1
kind: Deployment
metadata:
  name: music-upload-backend
spec:
  selector:
    matchLabels:
      app: music-upload-backend
  template:
    metadata:
      labels:
        app: music-upload-backend
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox
          command: [ 'sh', '-c', 'until nc -z music-upload-mysql-db-service 3306; do echo waiting; sleep 2; done;' ]
        - name: wait-for-minio
          image: busybox
          command: [ 'sh', '-c', 'until nc -z music-upload-minio-service 9000; do echo waiting; sleep 2; done;' ]
        - name: wait-for-redis
          image: busybox
          command: [ 'sh', '-c', 'until nc -z music-upload-redis-service 6379; do echo waiting for redis; sleep 2; done;' ]
      containers:
        - name: music-upload-backend
          image: kovacsbotondjanos/musicupload-spring-app:latest
          ports:
            - containerPort: 8080
          imagePullPolicy: Always
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://music-upload-mysql-db-service:3306/music?createDatabaseIfNotExist=true
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: ASD123
            - name: MINIO_DATASOURCE_URL
              value: music-upload-minio-service.default.svc.cluster.local
            - name: MINIO_ROOT_USER
              value: minio99
            - name: MINIO_ROOT_PASSWORD
              value: minio123
            - name: GRPC_RECOMMENDATION_SERVER_HOST
              value: music-upload-recommendation-engine-service
            - name: GRPC_RECOMMENDATION_SERVER_PORT
              value: "9090"
            - name: SPRING_CACHE_TYPE
              value: redis
            - name: SPRING_DATA_REDIS_HOST
              value: music-upload-redis-service
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
          resources:
            requests:
              memory: "800Mi"
              cpu: "1000m"
            limits:
              memory: "1024Mi"
              cpu: "1250m"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: music-upload-backend-service
spec:
  selector:
    app: music-upload-backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: music-upload-backend-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: music-upload-backend
  minReplicas: 1
  maxReplicas: 3
  behavior: 
    scaleDown:
      stabilizationWindowSeconds: 120
    scaleUp:
      stabilizationWindowSeconds: 30
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 85