:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #ffffff;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-white);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

html {
  background-color: #181818;
  color: white;
}

#app {
  font-family: "Josefin Sans", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsl(0, 0%, 100%); */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.left {
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 5px;
}

td,
tr,
th {
  border: 1px solid white;
  padding: 8px;
  color: white;
}

th {
  font-weight: bold;
}

.form {
  position: absolute;
  top: 50px;
  left: 10px;
}
.table-container {
  display: flex;
}

.days {
  border-collapse: collapse;
  margin-right: 20px;
}

.days th,
.days td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  width: 150px;
}

.header-container {
  display: flex;
  align-items: center;
}

.days td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fillButton {
  margin-left: 10px;
}

.row {
  margin-bottom: 10px;
}

a:hover {
  color: black !important;
  background-color: hsl(0, 0%, 100%);
}

a.profile_div:hover{
  color: black !important;
  background-color: transparent;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #181818;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  z-index: 1000;
}

div.login-button {
  padding: 10px;
}

.button-label {
  position: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: auto;
}

span {
  margin-right: 10px;
}

input {
  margin-right: 5px;
}

.hiddenRow {
  display: none;
}

.custom-button {
    all: unset;
    background-color: transparent !important;
}

.profile {
    border-radius: 5px;
}

.profile-div:hover {
    background-color: black !important;
}

#songs {
    flex: 1;
    padding: 20px;
}

#music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

audio {
    width: 100%;
}

.song {
    cursor: pointer;
    margin-bottom: 5px;
}