apiVersion: apps/v1
kind: Deployment
metadata:
  name: music-upload-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: music-upload-frontend
  template:
    metadata:
      labels:
        app: music-upload-frontend
    spec:
      containers:
        - name: music-upload-frontend
          image: kovacsbotondjanos/musicupload-react-app:latest
          ports:
            - containerPort: 80
          imagePullPolicy: Always
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: react-frontend-service
spec:
  selector:
    app: music-upload-frontend
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30001