<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/public/main.js}"></script>
    <link rel="stylesheet" th:href="@{/public/main.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div th:if="${loggedIn}" class="collapse navbar-collapse profile_div">
            <a class="justify-content profile_div" th:href="@{'/users/' + ${id}}">
                <img width="50px" height="50px" th:src="@{'/images/' + ${profilePicture}}" alt="User's Profile Picture" class="profile">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link active text-white" href="/home">Home</a>
            </div>
        </div>
        <div th:if="${loggedIn}" class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link active text-white" href="/logout">Log out</a>
            </div>
        </div>
        <div th:if="${loggedIn == false}" class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active text-white" href="/register">Register</a>
            </div>
        </div>
        <div th:if="${loggedIn == false}" class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link active text-white" href="/login">Log in</a>
            </div>
        </div>
    </div>
</nav>
<div class="container container-fluid" style="padding-top: 70px;">
    <div class="row">
        <div class="col">
            <h1>Recommended songs:</h1>
            <br>
            <div th:each="song: ${songs}">
                <div class="container mt-5 mb-5 d-flex justify-content-between align-items-center rounded">
                    <img width="50px" height="50px" th:src="@{'/images/' + ${song.getImage()}}" alt="User's Profile Picture" class="profile">
                    <div class="d-flex align-items-center">
                        <h2 th:text="${song.getName()}" class="text-white"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>